body {
    background-color: #fafbf0;
    font-family: sans-serif, Helvetica;
    font-size: medium;
    color: #0c0b0b;
    width: 100%;
    margin: auto;
    height: 100%;
    background-size: auto;
    background-repeat: repeat;
    background-position: top left;
    position: absolute;
    opacity: 1;
  }
    
  * {box-sizing: border-box;
    all: unset;
    display: revert;
}

  .header-main {
    background-position: center;
    width: 100%;
    height: 70%;
  }

  .header-main img {
    height: 70%;
    width:100%;
    align-self: center;
    position: absolute;
    justify-items: stretch;
    align-items: stretch;
    display: grid;
  }
  
  .header-main2 {
    background-position: center;
    width: 100%;
    height: 80%;
  }

  .header-main2 img {
    height: 70%;
    width:100%;
    align-self: center;
    margin-left: 0%;
    padding: 0%;
    position: absolute;
    display: inline-block;
    border: 30px solid #424040;
  }
 
  .header-main3 {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 5px ;
  }

  .header-main3 img {
    height: 100%;
    width:100%;
    align-self: center;
    margin: left 0%;
  }

  .header-main4 {
    width: 100%;
    height: 80%;
  }

  .header-main4 img {
    height: 75%;
    width:100%;
    align-items: center;
    position: absolute;
    display: inline-block;
    border-left: 70px solid #fafbf0;
    border-right: 70px solid #fafbf0;
    border-bottom: 70px solid #fafbf0;
    border-top: 30px solid #fafbf0;
  }

  p,h2,h3 {
    margin: 15px
  }
  
  h1, h2, h3, p {
    text-decoration-style: dotted;
    color: #0d0d0d;
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .banner {
    color: #f6fff0;
    font-size: 6vw;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  img {
    width: 100%;
  }
  
  .imgbody1 {
    max-width: 50%;
    width:450px;
    height: auto;
    text-align: center;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-left: 33%;
    display: block flex;
    float: none;
  }

  .imgbody5 {
    align-items: center;
    justify-content: center;
    max-width: 50%;
    width:450px;
    margin-left: 31.5%;
    border: 25px solid black;
  }
 
    body table {
      width: 100%;
      font-size: 0.8em;
    }
  
  a {
    color: #0b090b;
    text-decoration: bold;
  }
  
  ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
  }
  
   /* nav area */
  .flex-nav {
    display:flex;
    position: sticky;
    width: 100%;
    opacity: 0.7;
    box-sizing: border-box;
  }
  
  .flex-nav a {
    text-decoration: none;
  }
  
  .flex-nav>li {
    width: 100%;
    height: auto;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.0em;
    display: inline;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .flex-nav>li>a:hover {
    font-size: 1.5em;
    transition-duration: 250ms;
  }
  
  /* main area */

  .booking{
    text-align: center;
  }

  .booking p{
    opacity: .5;
    margin-top: 10px;
  }

/*footer area*/
  .flex-footer {
    display: flex;
    background-color: #f4f6e5e9;
  }
  
  .flex-footer>div {
    line-height: 1.5em;
    font-size: 1em;
    flex-basis: 100%;
    padding: 5px;
  }

  .flex-footer,
    {display: flex;
  }

  .flex-footer {
    color: #274560;
    line-height: 1.5em;
    font-size: 1em;
    flex-basis: 100%;
    padding: 5px;
  }
  
  footer {
    font-size: 0.7em;
  }
  
  .center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 100%;
    padding-top: 10px;
  }
   
  .logofooter {
    width: 32px;
    padding: 30px;
    position: relative;
    align-self: normal;
  }
  
  iframe {
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
  }
  
  .small-text {
    font-size: 0.7em;
    text-align: center;
  }

  .social-group {
    display: flex;
    justify-content: space-between;
    
  }

  .social-group img {
    width: 35px;
    padding: 30px;
  }

/* mobile css */
  @media only screen and (max-width:768px) {

    .header-main,
    .header-main2,
    .header-main3,
    .header-main4,
    .flex-nav,
    .flex-footer,
    .flex-main,
    .spotifysongs,
    .booking {
      flex-direction: column;
      justify-content: space-between;
    }

    /* desktop css */
    @media only screen and (min-width:1360px) {
        .header-main,
        .header-main2,
        .header-main3,
        .header-main4,
        .flex-nav,
        .spotifysongs,
        .flex-footer,
        .flex-main,
        .booking {
          width: auto;
          margin-left: auto;
          margin-right: auto;
          flex-direction: column;}

 hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  background: #0b0909;
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;}

  .spotifysongs {
    display: inline-flex;
    justify-content: space-between;
    max-width: 960px;
    border: none;
  }

  .formcontainer{
    width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #e9baba;
      border-radius: 5px;
      border: 1px solid #0d0e0f;
  }

  .form-group {
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #0d0e0f;
  }

  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #0d0e0f;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  textarea {
    height: 100px;
  }


  input[type="submit"] {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }
  